// Colors
$bg-color: #e5e6f0;
$dot-color: #eeeeee;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
}
