$label_color: #acacac;
$input_color: #666;
$border_color: #eee;
$primary_color: #7d40c7;

$light_text_color: #fff;
$dark_text_color: #333;

.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
}

.App main {
  margin-left: 30px;
}

aside {
  width: 320px;
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba($color: #000000, $alpha: 0.02);
}

aside form {
  margin: 30px 24px;
}

.formInput + .formInput {
  margin-top: 34px;
}

.chipContainer {
  margin-top: 14px;
}

.form-group {
  display: grid;
  margin-top: 24px;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  .formInput + .formInput {
    margin-top: 0;
  }
}
